:root {
  --background: #212529;
  --background-card-even: #6c757d;
  --background-card: #343a40;
  --color-primary-title: #e9ecef;
  --primary-color-text: #adb5bd;
}
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
body {
  height: 100%;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
}
